{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/sort-comp": "off"
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}
