@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.app-name {
    vertical-align: super;
    margin-left: 10px;
}